body{
    background-color: rgb(184, 145, 221) !important;
}
.Maindiv{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.subdiv{
    border: solid black 1px;
    padding: 1%;
    border-radius: 1rem;
      
}
.signup{
    text-align: center;
  
}
@media (max-width: 320px) {
    .subdiv{
        border: solid black 1px;
        padding: 1rem;
        /* border-radius: 6%; */
        /* margin-left: 1rem; */
    }
  }