.addsectionbg22 {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
 
}
.addSection122 {
  width: 70%;
  height: 8%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
 
}
.login{
    display: flex;
    text-align: center;
    align-items: center;
    
    padding-right: 1.5rem;
}
.checkoutProductsheight {
  height: 34rem;
  overflow-y: scroll;
  overflow: auto;
}
.checkoutProducts {
  margin-bottom: 0.8rem;
}
.Checkoutbutton {
  position: absolute;
  margin-top: 3rem;
  margin-left: 2rem;
  height: 3.5rem;
  width: 8rem;
  border-radius: 3rem;
  background-color: rgb(255, 103, 2);
  border: solid 1px rgb(255, 103, 2);
  color: white;
}
