.addsectionbg22{
    width: 100vw;
    height: 11vh;
    background-color: rgb(255,255,255);
    display: flex;
    justify-content: center;
    
}
.addSection122{
    width: 70%;
    height: 8vh;
    background-color: rgb(255,255,255);
}