.shopimg{
    width: 32rem;
    height: 28rem;
    margin-top: 2rem;
    border-radius: 1rem;
}
.Search{
    width: 25rem;
    height: 5rem;
    box-shadow: -1px 1px 5px 2px  rgb(175, 167, 167);
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: 2rem;
     border-radius: 1rem;
}
.searchbar{
    width: 18rem;
    height: 2.5rem; 
    padding: 1rem;
    border: solid 1px  ;

}
.recentdiv{
    width: 25rem;
    height: 24rem;
    box-shadow: -1px 1px 5px 2px  rgb(175, 167, 167);
     margin-top: 2rem;
     border-radius: 1rem;
     padding: 2rem;
}
.font{
    font-size: 17px;
    color: #1b336f;
  
}
.font::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #1b336f;
    transition: width 0.3s;
  }
  .font:hover::after {
    width: 100%;
  }
.list{
    color: #1b336f;
}