.MainSecondsection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* height: 100vh; */
}
.secondsection{
    background-color: #ECECEC;
    width: 85.5rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.a:hover{
    text-decoration: underline;
    color: #FF4800;
}