body {
  background-color: #f0f2f5 !important;
}
.checkdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 140vw; */
  /* height: 100vh  */
}
.stepdiv {
  width: 76.5rem;
  height: 40rem;
  background-color: #ffffff;
  text-align: center;
}
@media (max-width: 768px) {
  .stepdiv {
    width: 80rem;
    height: 55rem;
    background-color: #ffffff;
    text-align: center;
  }
}
