.Mainsection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* height: 100vh; */
}
.subsection{
background-color: #FFFFFF;
width: 69rem;
height: 6.7rem;
padding: .5rem;
/* display: flex; */
/* justify-content: space-between; */
}
.dlogo{
width: 5rem;
box-shadow: -1px 1px 5px 2px  rgb(175, 167, 167);
border-radius: 10%;

/* margin-top: .5rem; */
}
.daraz{
font-size: 20px;
font-weight: bold;
color: #FF4800;
line-height: 16px;
/* margin-top: .5rem; */
}
.download{
font-size: 18px;
color: black;
line-height: 16px;
}
.new{
color: grey;
line-height: 16px;
}
.dobtn{
    background-color:#FF4800 ;
    width: 10rem;
    height: 3rem;
    border-radius: 28rem;
    margin-top: 1rem;
    box-shadow: -1px 1px 5px 2px  rgb(175, 167, 167);
    color: white;
    border: #FF4800;
    
}
 