.addsectionbg{
    width: 100vw;
    height: 11vh;
    background-color: rgb(226,226,226);
    display: flex;
    justify-content: center;
    
}
.addSection1{
    width: 70%;
    height: 8vh;
    background-color: rgb(255,255,255);
}
.imageclass{
    width: 100%;
    height: 11vh;
}
.imageclass1{
    position: absolute;
    width: 6vw;
    height: 11vh;
    background-color: white;
}
.addsectionbg111{
    margin-top: 3rem;
    width: 100vw;
    height: 11vh;
    background-color: rgb(226,226,226);
    display: flex;
    justify-content: center;
    
}
.addSection111{
    width: 70%;
    height: 11vh;
    background-color: rgb(255,255,255);
}