body{
    background-color: rgb(184, 145, 221) !important;
}
.Maindiv{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.subdiv{
    border: solid black 1px;
    padding: 1%;
    border-radius: 1rem;
      
}
.signup{
    text-align: center;
  
}
 