 body{
   background-color: #F9F9F9 !important;
 }
.MainBlog {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  /* width: 100vw;
  height:58.5vh; */
}
.img {
  background: url(https://images.unsplash.com/photo-1441986300917-64674bd600d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)
    no-repeat center center;
  width: 85.5rem;
  height: 24rem;
  position: relative; 
}
.img:hover:after {
  content: " ";
  position: absolute;
  left: 0; 
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
 .heading{
     font-style: italic;
     color: white;
     text-align: center;
     font-size: 25px; 
 margin-top: 2rem;
 }
.heading1{
    font-style: italic;
    color:white;
    text-align: center;
    font-size: 30px;   
}