.Carddiv1 {
  background-color: white;
  padding: 1rem;
}
.Carddiv12 {
  background-color: white;
  padding: 1rem;
  margin-top: -2rem;
}
.sale1 {
  color: #ff6801;
  font-size: 18px;
}
.col11 {
  border-right: 1px solid #a3a0a5;
  border-bottom: 1px solid #7e7a80;
  padding: 9px;
  text-align: center;
}
/* .img1{
    width: 10rem;
  } */
.img11 {
  width: 3rem;
}
.img12 {
  width: 4.5rem;
}
.img13 {
  width: 4rem;
}
.img14 {
  width: 4rem;
}
.img16 {
  width: 3.6rem;
}
.img15 {
  width: 4rem;
}
.img17 {
  width: 4rem;
}
.img18 {
  width: 3.6rem;
}
.img19 {
  width: 4.5rem;
}
.col11:hover {
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}
@media (max-width: 1024px){
  .img11 {
    width: 2rem;
  }
}
@media (max-width: 1024px){
  .img13 {
    width: 2rem;
  }
}
@media (max-width: 1024px){
  .img14 {
    width: 2rem;
  }
}
@media (max-width: 1024px){
  .img15 {
    width: 2rem;
  }
}
@media (max-width: 1024px){
  .img16 {
    width: 2.4rem;
  }
}
@media (max-width: 1024px){
  .img17 {
    width: 2rem;
  }
}
@media (max-width: 1024px){
  .img18 {
    width: 2.4rem;
  }
}
@media (max-width: 1024px){
  .img19 {
    width: 3rem;
  }
}


.img20{
 width: 2rem
}